.td_all {
    /* width: 10px; 
    height: 10px; */
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

html {
    height: 95%;
}

.ctrl_c {
    margin: 0px auto;
}

body {
    display: flex;
    /* float:right; */
    /* align-items: center; */
    justify-content: center;
    /* vertical-align: middle; */
}

#table_all {
    border: solid 5px black;
    padding: 10px;
    border-radius: 10px;
}

#coin_n {
    position: relative;
    background-color: white;
    font-size: 20px;
    font-weight: bolder;
}

#coin_n2 {
    position: relative;
    background-color: white;
    font-size: 20px;
    font-weight: bolder;
}

.change_colour {
    margin: 5px;
    width: 20px;
    height: 20px;
    background-color: bisque;
    cursor: pointer;
    /* display:inline; */
    float: left;
}

/* #outNB{
    position: fixed;
    top: 40px;
    left: 30px;
} */

#outNB2 {
    /* float: left; */
    position: relative;
    /* font-size: 30px; */
}

#read_out {
    position: relative;
    word-wrap: break-word;
        word-break: break-all;
        border: solid 1px black;
        padding: 10px;
        width: 280px;
}

@media (min-width: 1000px) {
    #outNB2 {
        /* float: left; */
        position: fixed;
        top: 0px;
        left: 20px;
    }
    #read_out {
        position: fixed;
        /* top: 300px;
        left:20px; */
        
    }
}

/* ========================= */